<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Your Study Session</title>
</head>
<body>
    <form action="{{ url_for('add_session_route') }}" method="POST">
        <label for="subject">Subject:</label>
        <input name="subject" id="subject" type="text" required>

        <label for="start">Start-Time:</label>
        <input name="start_time" id="start" type="datetime-local" required>

        <label for="end">End-Time:</label>
        <input name="end_time" id="end" type="datetime-local" required>

        <label for="keytak">My Keytakeaways:</label>
        <textarea name="key_takeaways" id="keytak" required></textarea>

        <label for="prodrat">My Productivity Rating:</label>
        <input name="productivity_rating" id="prodrat" type="number" min="1" max="5" required>

        <button type="submit">Save Log</button>
    </form>
</body>
</html>