<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Your Study Session</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="navbar-brand">
            <p class="title">PANDO</p>
            <p class="catch">PLAN. DO.</p>
        </div>
        <div class="navbar-links">
            <a class="home-link" href="/">Home</a>
            <a class="add-session active" href="/add_session">Add Study Session</a>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash_message {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form class="add-form" action="{{ url_for('add_session_route') }}" method="POST">
        <div class="one">
            <label for="subject">Subject:</label>
            <input name="subject" id="subject" type="text" required placeholder="Ex: Science or Any Field Of Study">
        </div>
        <div class="two">
            <label for="prodrat">My Productivity Rating:</label>
            <input name="productivity_rating" id="prodrat" type="number" min="1" max="5" required placeholder="Rate from 1 to 5">
        </div>
        <div class="three">
            <label for="start">Start-Time:</label>
            <input name="start_time" id="start" type="datetime-local" required>
        </div>
        <div class="four">
            <label for="end">End-Time:</label>
            <input name="end_time" id="end" type="datetime-local" required>
        </div>
        <label for="keytak">My Keytakeaways:</label>
        <textarea name="key_takeaways" id="keytak" required placeholder="I have learned..."></textarea>
        
        <button type="submit">Add Session</button>
    </form>
</body>
</html>