<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deleting a Session</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <p class="header-text">Study Session Tracker By Astro</p>
        <a class="add-session" href="/add_session">Add a Study Session</a>
    </div>
    <form class="confirm" action="/delete/{{ session[0] }}" method="POST">
        <div class="main_body">
            <p class="main-text">Are you sure you want to delete "{{ session[1] }}"</p>
            <img class="panda_ques" src="{{ url_for('static', filename='Panda Question Mark.jpg') }}">
        </div>
        <input type="hidden" name="session_id" value="{{ session[0] }}">
        <div class="back">
            <a href="/">Go Back</a>
        </div>
        <button type="submit">Yes, Delete</button>
    </form>
</body>
</html>