<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Session Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <p class="header-text">Study Session Tracker By Astro</p>
        <a href="/add_session">Add a Study Session</a>
    </div>
    <div class="session">
    {% if sessions %}
        {% for session in sessions %}
        <div class="session-card">
                <p>Subject: {{ session[1]}}</p>
                <p>Start: {{ session[2]}}</p>
                <p>End: {{ session[3]}}</p>
                <p>Key Takeaway: {{ session[4]}}</p>
                <p>Rating: {{ session[5]}}</p>
            <form action="/delete/{{ session[0] }}" method="POST">
                <button type="submit">Delete a Session</button>
            </form>
        </div>
        {% endfor %}
    {% else %}
    <div class="empty">
        <img class="panda_sleep" src="{{ url_for('static', filename='Panda Sleeping.jpg') }}">
        <p>No Logs Yet, Better Study Now!</p>
    </div>
    {% endif %}
    </div>
</body>
</html>