<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Session Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="navbar-brand">
            <p class="title">PANDO</p>
            <p class="catch">PLAN. DO.</p>
        </div>
        <div class="navbar-links">
            <a class="home-link active" href="/">Home</a>
            <a class="add-session" href="/add_session">Add Study Session</a>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash_message {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% if sessions %}
    <div class="session">
        {% for session in sessions %}
        <div class="session-card">
                <p><span>Subject:</span> {{ session[1]}}</p>
                <p class="rating">{% for i in range(session[5]) %}<span class="star">★</span>{% endfor %}</p>
                <p><span>Start:</span> {{ session[2].replace('T', ' ') }}</p>
                <p><span class="end">End:</span> {{ session[3].replace('T', ' ') }}</p>
                <div class="takeaway-row">
                    <div class="takeaway-section">
                        <p>Key Takeaways:</p>
                        <p class="main_textarea">{{ session[4] }}</p>
                    </div>
                    <a class="delete-form" href="/confirm_delete/{{ session[0] }}">X</a>  
                </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if not sessions %}
    <div class="empty">
        <img class="panda_sleep" src="{{ url_for('static', filename='Panda Sleeping.jpg') }}">
        <p>No Logs Yet, Better Study Now!</p>
    </div>
    {% endif %}
</body>
</html>