<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Session Tracker</title>
</head>
<body>
    <div class="session">
    {% if sessions %}
        {% for session in sessions %}
        <div class="session-card">
            <p>Subject: {{ session[1]}}</p>
            <p>Start: {{ session[2]}}</p>
            <p>End: {{ session[3]}}</p>
            <p>Key Takeaway: {{ session[4]}}</p>
            <p>Rating: {{ session[5]}}</p>
            <form action="/delete/{{ session[0] }}" method="POST">
                <button type="submit">Delete a Session</button>
            </form>
        </div>
        {% endfor %}
    {% else %}
        <p>No logs yet, Better Study!</p>
    {% endif %}
    </div>

    <a href="/add_session">Add a Study Session</a>
</body>
</html>