:root {
    --bg-color: #ddc2e0;   
    --color-1: #9e72c3;   
    --color-2: #924dbf;     
    --color-3: #7338a0;     
    --color-4: #4a2574;     
    --color-5: #0f0529;    
    --income-color: #2ecc71;
    --expense-color: #e74c3c;
    --text-light: #f9f8fc;
    --text-dark: #1a1a2e;
}

* {
    font-family: 'Inter';
}

body {
    background: var(--bg-color);
}

.navbar {
    background-color: var(--color-5);
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
    margin: 1.2rem auto;
    width: 77rem;
}

.navbar-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.navbar-brand img {
    height: 2.5rem;
    width: 2.5rem;
    transition: transform 0.5s ease-in-out;
}

.navbar-brand img:hover {
    transform: scale(1.5) rotate(360deg);
}

.navbar-brand .title {
    color: #f9f8fc;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    padding-right: 2rem;
}

.navbar-links {
    display: flex;
    gap: 1rem;
}

.navbar-links a {
    color: #f9f8fc;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 0.6rem 1rem 0.6rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.navbar-links a.active {
    color: var(--bg-color);
}

.navbar-links a:hover {
    transform: scale(1.2);
    color: #f9f8fc;
}

/* Empty Main Page */

.upper_empty_main_page {
    display: flex;
    justify-content: space-between;
}

.empty_box, 
.empty_box_balance {
    display: flex;             
    flex-direction: column;    
    justify-content: center;   
    align-items: center;      
    width: 20rem;
    height: 9rem;
    box-sizing: border-box;    
    font-family: 'Inter';
    border-radius: 15px;
    border: 5px solid var(--color-4);
}

.empty_box {
    background-color: var(--text-light);
}

.empty_box_balance {
    background-color: var(--color-4);
    margin-right: 5rem;
}

.empty_box:first-of-type {
    margin-left: 5rem;
}

.empty_box p {
    margin: 0; 
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-4);
}

.empty_box_balance p {
    margin: 0; 
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--text-light);
}

.empty_amount_income p {
    font-weight: 600;
    font-size: 3rem;
    color: var(--income-color);
    margin-top: 0.50rem;
}

.empty_amount_expense p {
    font-weight: 600;
    font-size: 3rem;
    color: var(--expense-color);
    margin-top: 0.50rem;
}

.empty_amount_balance p {
    font-weight: 600;
    font-size: 3rem;
    color: var(--text-light);
    margin-top: 0.50rem;
}

.lower_empty_main_page {
    display: flex;
    margin-left: 1rem;
}

.lower_empty_main_page img {
    height: 20rem;
    width: 15rem;
    margin-left: 18rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.empty_header {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0.5rem;
}

.empty_main_body {
    max-width: 500px; 
    text-align: center; 
    line-height: 1.4;
    font-size: 25px;
    margin-bottom: 1.5rem; 
}

.empty_main_message a {
    display: inline-block; 
    text-decoration: none;
    color: var(--text-light);
    background-color: var(--color-3);
    padding: 1rem 2rem;
    font-size: 30px;
    border-radius: 15px;
    margin-left: 4rem; 
    transition: transform 0.3s ease-in-out;
}

.empty_main_message a:hover {
    transform: scale(1.1);
}