:root {
    --bg-color: #ddc2e0;   
    --color-1: #9e72c3;   
    --color-2: #924dbf;     
    --color-3: #7338a0;     
    --color-4: #4a2574;     
    --color-5: #0f0529;    
    --income-color: #2ecc71;
    --expense-color: #e74c3c;
    --text-light: #ffffff;
    --text-dark: #1a1a2e;
}