* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: #b6d96c;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    background: #e5f2c9;
    width: 80rem;
    border-radius: 50px;
    margin-left: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.466);
    align-self: flex-end;
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding-left: 4rem;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 7rem;
}

.title, .catch, .home-link, .add-session {
    justify-content: space-evenly;
    text-decoration: none;
    padding: 1rem;
    font-size: 25px;
    color: #23260c;
}

.title {
    font-family: 'Playfair Display', 'Georgia', serif;
    font-weight: bold;     
    font-size: 30px;
    font-style: italic;  
    color: #13452E;   
    letter-spacing: 2px; 
}

.home-link {
    padding: 10px;
    border-radius: 50px;
    margin: 0.5rem;
    color: #3c5940;
}

.add-session {
    padding: 10px;
    border-radius: 50px;
    margin: 0.5rem;
    color: #3c5940;
}

.home-link:hover, .add-session:hover {
    background: #3c5940;
    color: #e5f2c9;
}

.active {
    background: #3c5940;
    color: #e5f2c9;
}

.empty {
    display: flex;
}


.empty p {
    font-size: 80px;
    color: #003049;
    margin-top: 10rem;
    margin-right: 2rem;
}

.panda_sleep {
    height: 28rem;
    width: 32rem;
    margin-top: 3rem;
    margin-left: 6rem;
}

.add-form {
    background: #3c593f;
    padding: 2rem 3rem 2rem 2.7rem;
    border-radius: 20px;
    margin: 2.5rem 4rem 1rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

label {
    color: #EAE2B7;
    font-size: 30px;
}

form div {
    display: grid;
}

input {
    border-radius: 10px;
    background: #EAE2B7;
}

.one input {
    height: 3rem;
    width: 30rem;
    font-size: 30px;
    padding-left: 1rem;
}

.two {
    padding-left: 3.8rem;
}

.two input {
    height: 3rem;
    width: 30rem;
    font-size: 30px;
    padding-left: 1rem;
}

.three input {
    height: 3rem;
    width: 30rem;
    font-size: 30px;
    padding-left: 1rem;
}

.four {
    padding-left: 3.8rem;
}

.four input {
    height: 3rem;
    width: 30rem;
    font-size: 30px;
    padding-left: 1rem;
}

.main_textarea {
    height: 6rem;
    width: 70rem;
    font-size: 25px;
    grid-column: span 2;
    border-radius: 10px;
    padding-left: 1rem;
    background: #7fa643;
}

textarea {
    height: 6rem;
    width: 70rem;
    font-size: 25px;
    grid-column: span 2;
    border-radius: 10px;
    padding-left: 1rem;
    background: #e7f2cb;
}

button {
    background: #e7f2cb;
    padding: 1rem;
    color: #3c5940;
    font-weight: bold;
    font-size: 30px;
    height: 5rem;
    width: 20rem;
    display: block;
    margin-left: auto;
    grid-column: 2;
    justify-self: end;
    border-radius: 10px;
    margin-bottom: -4rem;
    margin-top: 1rem;
}

button:hover {
    background: #7fa643;
    color: #EAE2B7;
}

.session {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    margin: 2rem;
    max-width: 90rem;
    gap: 2rem;
    align-items: start;
}

.session-card {
    background: #e5f2c9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 20px;
    color: black;
    font-size: 20px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.466); padding: 20px;
}

.session-card a {
    background: #3c5940;
    border-radius: 100px;
    color: Black;
    font-size: 20px;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 0.5rem;
    color: white;
}

.takeaway-section .main_textarea {
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    padding: 0.5rem;
    background: #7fa643;
    color: #e5f2c9;
    box-sizing: border-box;    
    margin-top: 0.5rem;
}

.takeaway-section p:first-of-type, span {
    color:#3c5940;
    font-weight: bold;
}

.takeaway-section {
    grid-column: 1;
    overflow: hidden;
    width: 100%;
    flex: 1;
}

.delete-form {
    grid-column: 2;
    display: flex;
    align-self: flex-end;
    align-items: center;
    margin-top: 5rem;
    text-decoration: none;
}

.takeaway-row {
    grid-column: 1 / -1;
    display: flex;
}

.star {
    color: #FCBF49;
    font-size: 50px;
}

.rating {
    text-align: right;
    align-self: start;
    margin-top: -1rem;
}

.confirm {
    border: 5px solid white;
    background: #3c593f;
    color: #EAE2B7;
    padding: 1rem;
    width: auto;
    font-size: 20px;
    margin: 4rem 4rem 2rem 4rem;
    height: 25rem;
    border-radius: 20px;
}

.subject-highlight {
    display: inline;
    box-decoration-break: clone;
    color: #81a844;
    border-radius: 20px;
    margin: auto;
    padding: 0.5rem;
}
.panda_ques {
    height: 15rem;
    width: 15rem;
    margin-left: 0;
}

.main_body {
    display: flex;
    padding: 4rem 2rem 2rem 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.main-text {
    font-size: 60px;
}

.back a {
    background: #EAE2B7;
    padding: 1rem;
    color: #3c5940;
    font-size: 35px;
    height: 5rem;
    width: 20rem;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid black;
    display: block;
    grid-column: 1 / -1;
    text-align: center;
}

.back a:hover {
    background: #d92d27;
    color: #EAE2B7;
}

.confirm button {
    display: block;
    margin-top: -5rem;
}