* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: #FCBF49;
}

.navbar {
    display: flex;
    margin-top: 1rem;
    background: black;
    width: 80rem;
    border-radius: 50px;
    align-self: center;
    margin-left: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.466);
    align-self: flex-end;
}

.title, .catch, .navbar-text, .add-session {
    justify-content: space-evenly;
    text-decoration: none;
    padding: 1rem;
    font-size: 20px;
    border-radius: 10px;
    color: #EAE2B7;
}

.empty {
    display: flex;
}


.empty p {
    font-size: 80px;
    color: #003049;
    margin-top: 10rem;
    margin-right: 2rem;
}

.panda_sleep {
    height: 28rem;
    width: 32rem;
    margin-top: 3rem;
    margin-left: 6rem;
}

.add-form {
    background: #003049;
    padding: 2rem 3rem 2rem 2.7rem;
    border-radius: 20px;
    margin: 1rem 4rem 1rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

label {
    color: #EAE2B7;
    font-size: 30px;
}

form div {
    display: grid;
}

input {
    border-radius: 10px;
    background: #EAE2B7;
}

.one input {
    height: 3rem;
    width: 30rem;
    font-size: 30px;
    padding-left: 1rem;
}

.two {
    padding-left: 3.8rem;
}

.two input {
    height: 3rem;
    width: 30rem;
    font-size: 30px;
    padding-left: 1rem;
}

.three input {
    height: 3rem;
    width: 30rem;
    font-size: 30px;
    padding-left: 1rem;
}

.four {
    padding-left: 3.8rem;
}

.four input {
    height: 3rem;
    width: 30rem;
    font-size: 30px;
    padding-left: 1rem;
}

textarea {
    height: 6rem;
    width: 70rem;
    font-size: 25px;
    grid-column: span 2;
    border-radius: 10px;
    padding-left: 1rem;
    background: #EAE2B7;
}

button {
    background: #EAE2B7;
    padding: 1rem;
    color: #D62828;
    font-size: 30px;
    height: 5rem;
    width: 20rem;
    display: block;
    margin-left: auto;
    grid-column: 2;
    justify-self: end;
    border-radius: 10px;
    margin-bottom: -4rem;
    margin-top: 1rem;
}

button:hover {
    background: #D62828;
    color: #EAE2B7;
}

.session {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    margin: 2rem;
    max-width: 90rem;
    gap: 2rem;
    align-items: start;
}

.session-card {
    background: #003049;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 20px;
    color: #EAE2B7;
    font-size: 20px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.466); padding: 20px; background: #003049;
}

.session-card a {
    background: #D62828;
    border-radius: 100px;
    color: Black;
    font-size: 20px;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 0.5rem;
}

.takeaway-section .textarea {
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    padding: 0.2rem;
    background: #EAE2B7;
    color: black;
    box-sizing: border-box;    
    margin-top: 0.5rem;
}

.takeaway-section p:first-of-type{
    color:#FCBF49;
}

span {
    color:#FCBF49;
}

.takeaway-section {
    grid-column: 1;
    overflow: hidden;
    width: 100%;
    flex: 1;
}

.delete-form {
    grid-column: 2;
    display: flex;
    align-self: flex-end;
    align-items: center;
    margin-top: 5rem;
    text-decoration: none;
}

.takeaway-row {
    grid-column: 1 / -1;
    display: flex;
}

.star {
    color: #FCBF49;
    font-size: 20px;
}

.confirm {
    border: 5px solid white;
    background: #FCBF49;
    color: black;
    padding: 1rem;
    width: auto;
    font-size: 20px;
    margin: 1rem 4rem 2rem 4rem;
    height: 25rem;
}

.panda_ques {
    height: 15rem;
    width: 15rem;
    padding-left: 0.5rem;
}

.main_body {
    display: flex;
    padding: 4rem 2rem 2rem 2rem;
}

.main-text {
    font-size: 60px;
    
}

.back a {
    background: #EAE2B7;
    padding: 1rem;
    color: #D62828;
    font-size: 35px;
    height: 5rem;
    width: 20rem;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid black;
    display: block;
    grid-column: 1 / -1;
    text-align: center;
}

.back a:hover {
    background: #D62828;
    color: #EAE2B7;
}

.confirm button {
    display: block;
    margin-top: -5rem;
}