{% extends 'base.html' %}

    {% block content %}
        {% if accounts_list %}

        <div class="upper_accounts_page">
            <div class="upper_message">
                <img src="{{ url_for('static', filename='images/header_owl.jpg')}}" alt="owl">
                <p class="upper_message_text">Get a clear view of your money by linking your accounts</p>
                <a href="#">Add Account</a>
            </div>
        </div>
        <div class="lower_accounts_page">
            <div class="lower_accounts_page_table">
                <table>
                    <tr>
                        <th>Account Name</th>
                        <th>Account Type</th>
                        <th>Actions</th>
                    </tr>
                    {% for account in accounts_list %}
                    <tr>
                        <th>{{ account[1] }}</th>
                        <th>{{ account[2] }}</th>
                        <th>
                            <form action="{{ url_for('edit_account_route', account_id=account[0]) }}" method="POST">
                                <label>Account Name:</label>
                                <input type="text" name="name" value="{{ account[1] }}">
                                <label>Account Type:</label>
                                <select name="account_type" value="{{ account[2] }}">
                                    <option value="">Choose an Account Type</option>
                                    <option value="Cash" {% if account[2] == 'Cash' %}selected{% endif %}>Cash</option>
                                    <option value="E-wallet" {% if account[2] == 'E-wallet' %}selected{% endif %}>E-wallet</option>
                                    <option value="Bank" {% if account[2] == 'Bank' %}selected{% endif %}>Bank</option>
                                    <option value="Credit Card" {% if account[2] == 'Credit Card' %}selected{% endif %}>Credit Card</option>
                                </select>
                                <button type="submit">Update</button>
                            </form>
                            <img src="{{ url_for('static', filename='images/delete.png')}}" href="{{url_for('delete_account_route')}}">
                        </th>
                    </tr>
                    <div class="modal" id="deleteAccountModal-{{ account[0] }}">
                        <form action="{{ url_for('delete_account_route', account_id=account[0]) }}" method="POST">
                            <p>Are you sure you want to delete Account: {{ account[1] }}</p>
                            <button type="button" onclick="hideDeleteModal()">No, Go Back</button>
                            <button type="submit">Yes, Delete</button>
                        </form>
                    </div>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="modal" id="createAccountModal">
            <form action="{{ url_for('create_account_route') }}" method="POST">
                <p>Create a new Account!</p>
                <label>Account Name:</label>
                <input type="text" name="name" placeholder="Gcash, LandBank, etc.">
                <label>Account Type</label>
                <select name="account_type">
                    <option value="">Choose an Account Type</option>
                    <option value="Cash">Cash</option>
                    <option value="E-wallet">E-wallet</option>
                    <option value="Bank">Bank</option>
                    <option value="Credit Card">Credit Card</option>
                </select>
                <button type="submit">Create</button>
            </form>
        </div>

        {% else %}
        <div class="empty_accounts_page">
            <img src="{{ url_for('static', filename='images/accounts_owl.jpg') }}" alt="owl">
            <p class="empty_header">Let's Set Up Your Accounts</p>
            <p class="empty_main_body">You’re just one step away. Connect your first account to start tracking your spending, setting budgets, and taking control of your wealth.</p>
            <a href="{{ url_for('accounts_list_route') }}">Add Your First Account</a>
        </div>
        {% endif %}
    {% endblock %}