<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Finance Tracker</title>
</head>
<body>

    <nav class="navbar">
        <div class="navbar-brand">
            <img src="{{ url_for('static', filename='images/orchid_logo.jpg')}}" alt="orchid">
            <p class="title">ORCHID</p>
        </div>
        <div class="navbar-links">
            <a href="{{ url_for('index') }}" class="{{ 'active' if request.endpoint == 'index' else '' }}">Home</a>
            <a href="{{ url_for('accounts_list_route') }}" class="{{ 'active' if request.endpoint == 'accounts_list_route' else '' }}">Accounts</a>
            <a href="{{ url_for('categories_list_route') }}" class="{{ 'active' if request.endpoint == 'categories_list_route' else '' }}">Categories</a>         
            <a href="{{ url_for('transactions_list_route') }}" class="{{ 'active' if request.endpoint == 'transactions_list_route' else '' }}">Transactions</a>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}

    <script>
        function showModal(id) {
            const modal = document.getElementById(id);
            if (modal) {
                modal.style.display = "block";
            }
        }

        function hideModal(id) {
            const modal = document.getElementById(id);
            if (modal) {
                modal.style.display = "none";
                const form = modal.querySelector('form');
                if (form) {
                    form.reset();
                }
            }
        } 
    </script>
</body>
</html>