{% extends 'base.html' %}
    {% block content %}
        {% if categories_list %}

        <div class="upper_page">
            <div class="upper_message">
                <img src="{{ url_for('static', filename='images/header-owl.jpg')}}" alt="owl">
                <p class="upper_message_text">Uncover your spending patterns and take charge of your cash flow.</p>
                <a href="#" onclick="showModal('createCategoryModal')">Add Category</a>
            </div>
        </div>

        <div class="lower_categories_page">
            <p class="lower_categories_text">Select a category to see exactly where your money went.</p>
            {% for category in categories_list %}
            <div class="categories_box"><a href="{{ url_for('view_category_route', category_id=category[0])}}">{{ category[1] }}</a></div>
        
        {% endfor %}
        </div>
        {% else %}
        <div class="empty_page">
            <img src="{{ url_for('static', filename='images/categories_owl.jpg') }}" alt="owl">
            <div class="empty_message">
                <p class="empty_header">Give Your Money a Mission!</p>
                <p class="empty_main_body">Stop playing the guessing game with your expenses. Group your transactions into custom buckets right now to design a personalized blueprint that lets you spend guilt-free on the things you love.</p>
                <a href="#" onclick="showModal('createCategoryModal')">Add Your First Category</a>
            </div>
        </div>
        {% endif %}
        <div class="modal" id="createCategoryModal">
            <form action="{{ url_for('create_category_route') }}" method="POST">
                <p>Create a new Category!</p>
                <label>Category Name:</label>
                <input type="text" name="category_name" placeholder="Food, School, Savings, etc.">
                <div class="buttons">
                    <button type="button" class="btn-cancel" onclick="hideModal('createCategoryModal')">Cancel</button>
                    <button type="submit" class="btn-confirm">Create</button>
                </div>
            </form>
        </div>
    {% endblock %}



